[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
spacy = "*"
sklearn = "*"
yellowbrick = "*"
nltk = "*"
pandas = "*"
networkx = "*"

[requires]
python_version = "3.8"
